@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

html,body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.camera-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  > .camera-wrap {
    flex: 0 0 0%;
    min-width: 120px;
    min-height: 120px;
    margin: auto;
    border-top: 6px solid #AD1457;
    background: #424242;
    border-radius: 4px;
    min-width: 120px;
    min-height: 120px;
  }

}
