
.icon-phone:before { content: '\e800'; } /* '' */
.icon-add:before { content: '\e801'; } /* '' */
.icon-bluetooth:before { content: '\e802'; } /* '' */
.icon-headset:before { content: '\e803'; } /* '' */
.icon-timer:before { content: '\e804'; } /* '' */
.icon-thumb-menu:before { content: '\e805'; } /* '' */
.icon-presentation:before { content: '\e806'; } /* '' */
.icon-recDisable:before { content: '\e807'; } /* '' */
.icon-recEnable:before { content: '\e808'; } /* '' */
.icon-event_note:before { content: '\e809'; } /* '' */
.icon-phone-talk:before { content: '\e80a'; } /* '' */
.icon-public:before { content: '\e80b'; } /* '' */
.icon-avatar:before { content: '\e901'; } /* '' */
.icon-download:before { content: '\e902'; } /* '' */
.icon-mic-camera-combined:before { content: '\e903'; } /* '' */
.icon-kick:before { content: '\e904'; } /* '' */
.icon-hangup:before { content: '\e905'; } /* '' */
.icon-chat:before { content: '\e906'; } /* '' */
.icon-edit:before { content: '\e907'; } /* '' */
.icon-share-doc:before { content: '\e908'; } /* '' */
.icon-ninja:before { content: '\e909'; } /* '' */
.icon-star-full:before { content: '\e90a'; } /* '' */
.icon-full-screen:before { content: '\e90b'; } /* '' */
.icon-exit-full-screen:before { content: '\e90c'; } /* '' */
.icon-security:before { content: '\e90d'; } /* '' */
.icon-security-locked:before { content: '\e90e'; } /* '' */
.icon-reload:before { content: '\e90f'; } /* '' */
.icon-microphone:before { content: '\e910'; } /* '' */
.icon-mic-empty:before { content: '\e911'; } /* '' */
.icon-mic-disabled:before { content: '\e912'; } /* '' */
.icon-link:before { content: '\e913'; } /* '' */
.icon-shared-video:before { content: '\e914'; } /* '' */
.icon-settings:before { content: '\e915'; } /* '' */
.icon-star:before { content: '\e916'; } /* '' */
.icon-share-desktop:before { content: '\e917'; } /* '' */
.icon-camera:before { content: '\e918'; } /* '' */
.icon-camera-disabled:before { content: '\e919'; } /* '' */
.icon-volume:before { content: '\e91a'; } /* '' */
.icon-contactList:before { content: '\e91b'; } /* '' */
.icon-toggle-filmstrip:before { content: '\e91c'; } /* '' */
.icon-feedback:before { content: '\e91d'; } /* '' */
.icon-raised-hand:before { content: '\e91e'; } /* '' */
.icon-menu-up:before { content: '\e91f'; } /* '' */
.icon-menu-down:before { content: '\e920'; } /* '' */
.icon-switch-camera:before { content: '\e921'; } /* '' */
.icon-info:before { content: '\e922'; } /* '' */
.icon-visibility:before { content: '\e923'; } /* '' */
.icon-visibility-off:before { content: '\e924'; } /* '' */
.icon-dialpad:before { content: '\e925'; } /* '' */
.icon-gsm-bars-black:before { content: '\e926'; } /* '' */